<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/bootstrap.css" />
    <title>{% block title %}COMMIT Vocabularies!{% endblock %}</title>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
    <div class="container" id="content">
    	<div class='row'>
    		<div class='span12'>
	    		<div class='well'>
		    		<h4><a href='http://www.data2semantics.org'><img width='90px' src='static/img/logo-no-text-150dpi.png'/></a><a href='http://www.commit-nl.nl'><img width='200px' src='static/img/COMMIT_logo_RGB.png'/></a><div style='valign: top; display: inline;' class='lead'>Data and Vocabulary Catalog</div></h4>
	    		</div>
    		</div>
    	</div>
    	<div class='row'>
    		<div class='span6'>
    			<blockquote>
				  <p>It would be very nice to see who else within COMMIT/ uses the same vocabularies or datasets that I do.</p>
				  <small>Jacco van Ossenbrugge (CWI/VU)</small>
				</blockquote>
			</div>
    		<div class='span6'>
    			<div class='alert alert-info'>
    				Adding the data or vocabulary you use to the catalog will take just two minutes and is as easy as answering 7 simple questions. Do so now, and <a target='_blank' href='https://docs.google.com/spreadsheet/viewform?pli=1&formkey=dExWOEhsaHk5WUtDdHVhQU1IbjJxOHc6MQ#gid=0'>take the survey</a>!
    			</div>
    		</div>
    	</div>
    	<div class='row'>
    		<div class='span6'>    			
    			<p>The <a href='http://www.commit-nl.nl'>COMMIT/</a> data and vocabulary catalog is intended to share expertise and spark synergy between different COMMIT/ projects. We use it to collect information about all datasets and vocabularies <strong>used</strong> within COMMIT/, not just the datasets and vocabularies we produce.</p>
    			<p>Data and vocabularies can be added by filling in a <a target='_blank' href='https://docs.google.com/spreadsheet/viewform?pli=1&formkey=dExWOEhsaHk5WUtDdHVhQU1IbjJxOHc6MQ#gid=0'>simple web form</a>.</p>
    			
			</div>
			<div class='span6'>
			    <div class='alert alert-success'>
    				Don't just add your own stuff, add whatever you <strong>use</strong>!
    			</div>
				<p>The catalog is an initiative of three COMMIT/ projects running at <a href='http://www.vu.nl'>VU Amsterdam</a>, 
        		<a href='http://www.data2semantics.org'>Data2Semantics</a>, <a href='http://sealincmedia.wordpress.com'>SEALINCMedia</a> and <a href='http://www.commit-nl.nl/projects/metis-dependable-cooperative-systems-for-public-safety'>METIS</a>.</p>
    		
    		</div>
    	</div>
    	<div class='row'>
    		<div class='span12'>
    			<h2 class='page-header'>Catalog</h2>
    		</div>
    	</div>
        {% block content %}{% endblock %}
        <div class='row'>
    		<div class='span12'><hr/></div>
    	</div>
        <div class='row'>
        	<div class='span12'>
        		<div>
        			<img style='height:100px; float: left; padding-top: 50px;' src='static/img/elaborate-logo-150dpi.png'/><img style='height:150px; float:right;' src='static/img/SEALINCMedia-logo-RGB-small-cropped.png'/>
        		</div>
        	</div>
        </div>
    </div>
	<script src="static/js/bootstrap.min.js"></script>
</body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36060503-1']);
  _gaq.push(['_setDomainName', 'data2semantics.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>