{% extends "index.html" %}


{% block content %}
	<div class='row'>
		<div class='span12'>
			<table class="table table-hover" style="font-size: small;">
				<thead>
					<tr>
						<th>Name</th><th>URL</th><th>Type</th>
					</tr>
				</thead>
				<tbody>
			{% for r in records %}
				{% for e in r.entries %}
					{% if forloop.first %}
					<tr style='background: #eee;'>
						<td><strong>{{ r.vocab }}</strong></td>
						<td><a href='{{ e.whatstheurlofyourdatasetorvocabulary }}' target='_blank'>{{ e.whatstheurlofyourdatasetorvocabulary }}</a></td>
						<td>{{ e.areyoureportingonadatasetoravocabulary }}</td>
					</tr>
					{% endif %}
					<tr>
						<td></td>
						<td>{{ e.whatsyourname }} (<em>{{ e.whatcommitprojectareyouworkingon }}</em>) uses <strong>{{ r.vocab }}</strong> 
						{% if e.whatdoyouusethedatasetorvocabularyfor %}
							for {{ e.whatdoyouusethedatasetorvocabularyfor }} 
						{% endif %}
						{% if e.whatsthedomainofthedatasetorvocabulary %}
							in the {{ e.whatsthedomainofthedatasetorvocabulary }} domain
						{% endif %}
						</td>
						<td></td>
					</tr>
				</tr>
				{% endfor %}
			{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock content %}